* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#result {
  width: 200px;
  height: 50px;
  border: 1px solid black;
}
#text {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 18px;
}
#url {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 18px;
}
#url-result {
  width: 200px;
  min-height: 50px;
  border: 1px solid black;
}
.second {
  padding-top: 100px;
}
